h1{
	text-align:center;
	margin-left:100px;
	color:#008c8c;
}
.table{
	width:500px;
	height:600px;
	margin-left:40%;
	background:#73ff96;
	border:5px solid black;
	border-radius:10px;
}

.table tr{
	font-size:20px;
}

.input{
	width:200px;
	height:30px;
	margin-left:20px;
	border:2px solid black;
	border-radius:10px;
	margin-top:3px;
}

.input:hover{
	background:#ff4c4d;
}

.othertags{
	padding-left:20px;
}

.button{
	width:100px;
	height:30px;
	color:black;
	background:#ff5c26;
	border:2px solid #9797a6;
	border-radius:10px;
	margin-left:20px;
	margin-bottom:10px;
}

.sel{
	width:200px;
	height:30px;
	margin-left:20px;
	border:2px solid black;
	border-radius:10px;
	margin-top:3px;
}