<table border="1" cellpadding="3" cellspacing="0">
	<tr>
		<td>ID</td> <td><input ng-model="id1" type="text" /></td>
	</tr>
	<tr>
		<td>Name</td> <td><input ng-model="name1" type="text" /></td>
	</tr>
	<tr>
		<td>User Name</td> <td><input ng-model="username1" type="text" /></td>
	</tr>
	<tr>
		<td>Email</td> <td><input ng-model="email1" type="text" /></td>
	</tr>
	<tr>
		<td>Street</td> <td><input type="text" /></td>
	</tr>
	<tr>
		<td>Suits</td> <td><input type="text" /></td>
	</tr>
	<tr>
		<td>City</td> <td><input type="text" /></td>
	</tr>
	<tr>
		<td>Zip Code</td> <td><input type="text" /></td>
	</tr>
	<tr>
		<td>Phone</td> <td><input type="text" /></td>
	</tr>
	<tr>
		<td>Website</td> <td><input type="text" /></td>
	</tr>
	<tr>
		<td>Company Name</td> <td><input type="text" /></td>
	</tr>
	<tr>
		<td><input ng-click="adding()" type="button" value="Save"/></td><td><a href="#empList"><input type="button" value="Close"/></a></td>
	</tr>
</table>